.card-img-top {
  width: 90px;
  height: 90px;
  margin-right: 16px;
  border: 0.003px solid rgba(17, 16, 30, 0.3);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.card-body {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 8px;
  background-color: #F4ECEA;
  border-radius: 10px;
  padding: 8px;
  color: #11101e;
}

h5 {
  padding:  15px;
}
.content-middle h1 {
  color: whitesmoke;
}
#arrow{
  padding-bottom: 20px;
}