.card-img-top {
  width: 90px;
  height: 90px;
  margin-right: 16px;
}

.card-body {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 8px;
  background-color: #F4ECEA;
  border-radius: 10px;
  padding: 8px;
  color: #11101E;
}

h5 {
  padding:  15px;
}
.content-middle h1 {
  color: whitesmoke;
}
.card-img-top
{
  border: 1px solid #F6B16A;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px black;
}
