// Specific CSS for your home-page
.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#image-roulette {
  display: block;
  margin: auto;
}

.search-roulette {
  display: block;
  margin: auto;
}

.search-roulette button {
  border: none;
}

#fromage-search {
  background-color: white;
  font-size: 24px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 32px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#personnaliser {
  background-color: #F4ECEA;
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 32px;
  display: block;
  margin: auto;
}

#form_roulette {
  width: 90%;
  background-color: #11101E;
  border: 0.5px solid #F6B16A;
  border-radius: 15px;
  padding: 10px 10px 0 10px;
  margin: auto;
  position: relative;
}

#icons-cross-home {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0.6%;
  top: -1.4%;
  background-color: none;
  transform: translate(50%, -50%);
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ffd7ae;
  color: #53535c;
  border: 1px solid #ED8E3A;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #ED8E3A;
  color: white;
  font-weight: 500;
}

#second-search {
  background-color: white;
  font-size: 24px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 32px;
  position: relative;
  translate: 0 50%;
}

#form-home {
  display: flex;
  flex-direction: column;
}
