// Specific CSS for your home-page
.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#image-roulette {
  width: 90%;
  display: block;
  margin: auto;
  position: absolute;
  transform: translate(0,-40%);
  top: 40%;
  z-index: 0;
  }

  #roulette-svg {
    transform-origin: center;
    transition: transform 2.1s ease-in-out;
    transform: rotate(0deg);
  }

.search-roulette {
  display: block;
  margin: auto;
  background-color: #181823;
  padding-top: 15px;
  z-index: 1;
  position: absolute;
  top: 44%;
  height: 30%;
  width: 90%;
}

.search-roulette button {
  border: none;
}

#fromage-search {
  background-color: white;
  font-size: 24px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 32px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#personnaliser {
  background-color: #F4ECEA;
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 32px;
  display: block;
  margin: auto;
}

#form_roulette {
  width: 90%;
  background-color: #11101E;
  border: 0.5px solid #F6B16A;
  border-radius: 15px;
  padding: 10px 10px 0 10px;
  margin: auto;
  position: relative;
}

#icons-cross-home {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0.6%;
  top: -1.4%;
  background-color: none;
  transform: translate(50%, -50%);
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: 50rem;
  padding: 2px 5px;
  background-color: #ffd7ae;
  color: #53535c;
  border: 1px solid #ED8E3A;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #ED8E3A;
  color: white;
  font-weight: 500;
}

#second-search {
  background-color: white;
  font-size: 24px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 32px;
  position: relative;
  translate: 0 50%;
}

#form-home {
  display: flex;
  flex-direction: column;
}

.question {
  position: fixed;
  bottom: 70px;
  right: 14px;

}

.infoslide {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 0;
  right: 0;
  overflow: hidden;
  transition: all 0.20s ease-out
}
.infoslide.show {
  height: 55%;
  width: 100%;
  opacity: 1;
  transition: all 0.20s ease-out;
  z-index: 4;
  background-color: #11101E;
}
.infoslide p {
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-top: 8px;
}
.infoslide h2 {
  padding: 20px 0 10px 20px;
  margin-top: 8px;
}
#icon-info {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0.25%;
  top: 0.25%;
  transform: translate(50%, -50%);
}
.help {
  position: relative;
}
#icon-info{
  position: absolute;
  top: 5%;
  right: 5%;
}
