// ----------------------------------- CHEESE CARD ------------------------------------



#cheese-card-show{
  border-radius: 15px;
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.5);
  color: #11101E;
  padding: 16px 12px;
  transition: transform 1s ease;
  margin: 0 auto;

  & #top-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 16px;
  }

  & #bottom-card{
    text-align: center;
    background-color: #F4ECEA;
    border-radius: 0 0 15px 15px;
    padding: 16px;
  }

  & .image-cheese-show{
    width: 150px;
    height: 150px;
    border-radius: 8px;
  }

  & #icons-cheese{
    height: 50px;
    width: 50px;
  }

  & .cheese-informations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;


  }

  & p{
    margin: 0;
  }
}

#cheese-card-show.mini{
  transform: scale(0.8) rotate(10deg);
  transition: transform 1s ease;
}


// ----------------------------------- BUTTONS ------------------------------------
.tinder-button{
  display: none;
}

.tinder-button.display{
  display: block;

  & a{
    text-decoration: none;
  }

  & .fa-solid{
    font-size: 2rem;
    background-color: #11101E;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 9px;
    border-radius: 50%;
  }
}

.buttons-cheese {
  display: flex;
  justify-content: space-between;
}

.buttons-cheese button{
  border: none;
  background-color: #fff;
  color: #11101E;
  padding: 8px 16px;
  border-radius: 12px;
}

.buttons-cheese.remove{
  display: none;
}


//////////// IMAGE & NAME SELON Image slack /////////

.card-name-img {
  border: 1px solid;
  border-color: #F6B16A;
  padding: 10px;
  border-radius: 15px;
  text-align-last: right;
  background-color: #181823;
}
.sub-card {
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid;
  border-color: #F6B16A;
  border-radius: 15px;
  box-shadow: none!important;
  padding: 15px;
  margin-bottom: 20px;

}
#content-middle {
  background-color: grey;

}
#img-from {
  border-radius: 10px;
}
