// ----------------------------------- PARENT CHEESE CARD + icon ------------------------------------

.parent-cheese-card{
  position: relative;
}
#icons-cross-visitor,
#icons-cross-user {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0.25%;
  top: 0.25%;
  transform: translate(50%, -50%);
  opacity: 1;
  transition-delay: 0.9s;
}

#icons-cross-visitor.none,
#icons-cross-user.none{
  transition-delay: 0.1s;
  opacity: 0;
}

// ----------------------------------- CHEESE CARD ------------------------------------

#cheese-card-show{
  border-radius: 15px;
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.5);
  color: #11101E;
  transition: transform 0.75s ease;
  margin: 0 auto;
  margin-top: 36px;

  & h1{
    color: #11101E;
  }

  .region-information {
    color: #11101E;
    font-size: 16px;
  }

  & #top-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 16px;
  }

  & .logo-cheese-type{
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
  }

  & #icons-cheese-type{
    height: 50px;
    width: 50px;
  }

  & #bottom-card{
    font-size: 16px;
    text-align: center;
    background-color: #F4ECEA;
    border-radius: 0 0 15px 15px;
    padding: 8px 16px 0 16px;
  }


  & .cheese-type {
    margin: 0;
    margin-top: 10px;
  }

  & .parent-cheese-informations{
    margin-top: 10px;
  }

  & .image-cheese-show{
    width: 150px;
    height: 150px;
    border-radius: 8px;
  }

  & #icons-cheese{
    height: 50px;
    width: 50px;
  }

  & .cheese-informations{
    margin-bottom: 5px;
    min-height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  & p, h1, h2, h4{
    margin: 0;
  }
}

#cheese-card-show.mini{
  transform: scale(0.8) rotate(10deg);
  transition: transform 0.75s ease;
}

.verif-favoris{
  text-align: center;
  margin-top: 8px;
}

.cheese-average-rating {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

#stars-bookmark-show {
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  color: #F6B16A;
  & a {
    margin-left:15px;
    text-decoration: none;
    text-decoration: underline;
    color: #11101E;
  }
}

.avis-text-show {
  color:#11101E;
  margin-bottom: 10px;
}

.avis-show-cheese {
  color:#11101E;
  padding-left: 10px;
}


// ----------------------------------- BUTTONS DIV et BUTTONS STYLE ------------------------------------

#sign-in-condition{
  display: none;
}

#sign-in-condition.display{
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  & .home-path-btn{
    color: #11101E;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    background-color: #F4ECEA;
    padding: 8px 16px;
    width: 100%;
    border-radius: 12px;
    margin: 16px 0;
    text-decoration: none;
  }

  & .sign-in-btn{
    background-color: #fff;
    color: #11101E;
    padding: 8px 16px;
    width: 100%;
    border-radius: 12px;

    & a {
      color: #11101E;
      text-decoration: none;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 8px;
      display: inline-block;
    }

  }
}

.tinder-button{
  display: none;
}

.tinder-button.display{
  margin-top: 16px;
  text-align: center;
  display: block;
  width: 100%;

  & .buttons-tinder{
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  & .skip {
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    background-color: #F4ECEA;
    color: #11101E;
  }

  & a{
    text-decoration: none;
  }

  & .fa-solid{
    font-size: 2rem;
    background-color: #fff;
    color: #11101E;
    height: 50px;
    width: 50px;
    border: none;
    text-align: center;
    padding: 9px;
    border-radius: 50%;
  }
}

.buttons-cheese {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}

.buttons-cheese button{
  border: none;
  background-color: #fff;
  color: #11101E;
  padding: 8px 16px;
  border-radius: 12px;
}

.buttons-cheese.remove{
  display: none;
}


//////////// IMAGE & NAME SELON Image slack /////////

.card-name-img {
  border: 1px solid;
  border-color: #F6B16A;
  padding: 10px;
  border-radius: 15px;
  text-align-last: right;
  background-color: #181823;
}
.sub-card {
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid;
  border-color: #F6B16A;
  border-radius: 15px;
  box-shadow: none!important;
  padding: 15px;
  margin-bottom: 20px;

}

#img-from {
  border-radius: 10px;
}
