<nav class="navbar-bottom">
    <%= link_to "", root_path, class: "fa-solid fa-house" %>
    <%= link_to "", bookmarks_path, class: "fa-solid fa-bookmark" %>
    <%= link_to "", show_path, class: "fa-solid fa-user" %>
</nav>
