
<nav class="navbar-top" data-controller="navbar">
    <%= form_with url: cheeses_path, method: :get, id: "d-flexs" do %>
      <%= text_field_tag :query,params[:query],class: "form-control-navbar",placeholder: "Trouver votre fromage", data: { navbar_target: "value" }%>
      <i class="fa fa-search" data-action="click->navbar#display"></i>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag 'logo_simple.png', class: "logofrom", data: {navbar_target: "logo" }%>
    <% end %>
    <i class="fa-solid fa-bars" id="menu-icon">
    <%# connecter l'icone à la méthode search %>
    <%# réaliser %>
</nav>
