<nav class="navbar-bottom">
    <%= link_to "", root_path, class: "fa-solid fa-house" %>
    <%= link_to "", bookmarks_path, class: "fa-solid fa-bookmark" %>
    <%= link_to "", root_path, class: "fa-solid fa-user" %>
    <%# modifier le link_to de user pour le cibler vers la show %>
</nav>

