<div class="season-loader">
  <div class="printemps">
    <div class="carrée"></div>
    <div class="carrée"></div>
    <div class="carrée"></div>
  </div>
  <div class="été">
    <div class="carrée"></div>
    <div class="carrée"></div>
    <div class="carrée"></div>
  </div>
  <div class="automne">
    <div class="carrée"></div>
    <div class="carrée"></div>
    <div class="carrée"></div>
  </div>
  <div class="hiver">
    <div class="carrée"></div>
    <div class="carrée"></div>
    <div class="carrée"></div>
  </div>
</div>
