

<h2>la roulette</h2>

<div class="d-flex">
  <%= button_to 'Lancer la roulette', result_path, method: "get" %>
  <button class="btn btn-primary">Personnaliser la recherche</button>
</div>

<p>Le bouton pour déplier les paramètres de recherche</p>
<p>le form avec submit pour les paramètres de recherche</p>
