<%= render "shared/navbar-top-default" %>
<main class="content-middle">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
</main>
<%= render "shared/navbar-bottom-default" %>
