.fromage-list-region-parent{
  position: relative;
}

#wrapper-region{
  position: relative;
}

.sticky-div{
  position: sticky;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111020;
  padding: 8px 0;
}

#icon-cross-region{
  height: 20px;
  width: 20px;
}

#fromage-list-region{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1px;
  opacity: 0;
  color: white;
  background-color: #111020;
  border-radius: 15px 15px 0 0;
  transition: all 0.5s ease-out;
  padding: 0 16px;
  box-sizing: border-box;
}

#fromage-list-region.show{
  z-index: 2;
  opacity: 1;
  width: 100vw;
  height: 70%;
  overflow: scroll;
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 1.0);
}


.mapboxgl-ctrl-attrib.mapboxgl-compact{
  display: none;
}

.mapboxgl-ctrl{
  display: none!important;
}
