.navbar-bottom{
    grid-area: c;
    background-color: #11101E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #F6B16A;
}

.navbar-bottom a{
    color:#F6B16A;
}

#icon-cheese-home {
  fill: #F6B16A;
  stroke-width: 5px;
}

#icon-user-profile {
  fill: #F6B16A;
  height: 22px;
}
