.navbar-top{
    grid-area: a;
    background-color: #11101E;
    color: #F6B16A;
    border-bottom: 1px solid #F6B16A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
