.navbar-top{
    grid-area: a;
    background-color: #11101E;
    color: #F6B16A;
    border-bottom: 1px solid #F6B16A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

#d-flexs{
  position: relative;
  // left: 50%;
  // transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: black;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid black;
  padding: 5px;
  margin: -10px;
}


.form-control-navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #F6B16A;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  border: 1px solid black;
  background-color: #11101E;
  margin-right: -2px;
}

#d-flexs:hover{
  width: 300px;
  cursor: pointer;
}

#d-flexs:hover input{
  display: block;
}

.d-flex:hover .fa{
  background: #07051a;
  color: #F6B16A;
}

#navbar-btn {
  background: none;
  border: none;
}

.logofrom {
  width: 100px;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.logofrom.no-display {
  opacity: 0;
  transition: opacity 0.5s linear;
}


.all_link a {
  color: #F6B16A;
  text-decoration: none;

}
a.lien  {
  display: block;

}
.all_link {
  z-index: 10;
  margin: 10px;
}
p.lien {
  background-color: #11101E;
  margin: 7px 0 0 0;
}

.all_link {
  opacity: 0;
  z-index: 10;
  margin: 0px;
  position: absolute;
  right: 0;
  transition: opacity 0s linear;
  background-color: #11101E;
  top: 55px;
  border-top:1px solid #F6B16A;
  border-left: 1px solid #F6B16A;
  border-bottom: 1px solid #F6B16A;
  transition: all 0.25s ease-out;
  padding: 0 10px 10px 10px;
}

p.lienn{
  border-bottom: 1px solid #F6B16A;
  padding: 7px;
  margin: 0px;
}
.all_link.show {
  opacity: 1;
transition: all 0.25s ease-out;
}
