.season-loader{
  display: flex;
  align-items: center;

  & .printemps,
  .été, .automne, .hiver{
    display: flex;
    margin-right: 4px;
  }

  & .carrée{
    width: 5px;
    height: 5px;
    margin-right: 2px;
  }
}
